---
import MainLayout from '@layouts/MainLayout.astro';
import PlaceCard from '@components/PlaceCard.astro';
import { actions } from 'astro:actions';

const { data, error } = await actions.getPlaces();

if (error) {
  console.log(error);
}

const places = data?.places ?? [];
---

<MainLayout>
  <h1 class="text-2xl font-bold underline">Lugares</h1>

  <div class="grid grid-cols-3 gap-4">
    {places.map((place) => <PlaceCard place={place} />)}
  </div>
</MainLayout>
